#root {
   margin: 0;
   font-size: 20px;
   background-color: #1D1D1D; 
   font-family: 'Abc Diatype', system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu,
                Cantarell, 'Noto Sans', sans-serif, 'Apple Color Emoji',
                'Segoe UI Emoji', 'Segoe UI Symbol';  
}
